In [143]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn import svm

In [101]:
data=pd.read_csv('C:\\users\\adarsh\\medical_data.csv')

In [102]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [104]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [105]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# caregorical data

In [106]:
data.sex.unique()

array(['female', 'male'], dtype=object)

In [107]:
data.smoker.unique()

array(['yes', 'no'], dtype=object)

In [108]:
data.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

# label encoding is technique to convert categorical data to numeric data

In [111]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le.fit(data.sex.drop_duplicates())
data.sex=le.transform(data.sex)


le.fit(data.smoker.drop_duplicates())
data.smoker=le.transform(data.smoker)


le.fit(data.region.drop_duplicates())
data.region=le.transform(data.region)

In [112]:
data.sex

0       0
1       1
2       1
3       1
4       1
       ..
1333    1
1334    0
1335    0
1336    0
1337    0
Name: sex, Length: 1338, dtype: int64

In [113]:
data.smoker

0       1
1       0
2       0
3       0
4       0
       ..
1333    0
1334    0
1335    0
1336    0
1337    1
Name: smoker, Length: 1338, dtype: int64

In [114]:
data.region

0       3
1       2
2       2
3       1
4       1
       ..
1333    1
1334    0
1335    2
1336    3
1337    1
Name: region, Length: 1338, dtype: int64

In [115]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [116]:
#we want to predict the charges of the pateient.now we want to select which important parameter contribute in prediction of  the charges of the pateient

# corelation

# we want to find corelation of charges with respect to all

In [117]:
data.corr()['charges'].sort_values()

region     -0.006208
sex         0.057292
children    0.067998
bmi         0.198341
age         0.299008
smoker      0.787251
charges     1.000000
Name: charges, dtype: float64

# splitting of data

In [118]:
x=data.drop(data.columns[[6,5]],axis=1)
y=data['charges']

In [119]:
x

      age  sex     bmi  children  smoker
0      19    0  27.900         0       1
1      18    1  33.770         1       0
2      28    1  33.000         3       0
3      33    1  22.705         0       0
4      32    1  28.880         0       0
...   ...  ...     ...       ...     ...
1333   50    1  30.970         3       0
1334   18    0  31.920         0       0
1335   18    0  36.850         0       0
1336   21    0  25.800         0       0
1337   61    0  29.070         0       1

[1338 rows x 5 columns]

In [120]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [121]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.30,random_state=0)

In [122]:
#now we will scale our data because our data have different distribution

In [123]:
from sklearn.preprocessing import MinMaxScaler
sc_x=MinMaxScaler()
xtrain=sc_x.fit_transform(xtrain)
xtest=sc_x.fit_transform(xtest)

In [125]:
linear=LinearRegression()
dt=DecisionTreeRegressor()
svr=svm.SVR()
rf=RandomForestRegressor()

In [126]:
linear.fit(xtrain,ytrain)

LinearRegression()

In [132]:
dt.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [133]:
svr.fit(xtrain,ytrain)

SVR()

In [134]:
rf.fit(xtrain,ytrain)

RandomForestRegressor()

In [136]:
y_pred_linear=linear.predict(xtest)
y_pred_dt=dt.predict(xtest)
y_pred_rf=rf.predict(xtest)
y_pred_svr=svr.predict(xtest)

In [137]:
#RSME ERROR
import math
error_linear=math.sqrt(mean_squared_error((y_pred_linear),ytest))
error_dt=math.sqrt(mean_squared_error((y_pred_dt),ytest))
error_rf=math.sqrt(mean_squared_error((y_pred_rf),ytest))
error_svr=math.sqrt(mean_squared_error((y_pred_rf),ytest))

In [138]:
error_linear

5827.61034882603

In [139]:
error_dt

7129.3156685840895

In [140]:

error_rf

5164.969984665901

In [141]:
error_svr

5164.969984665901